<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Brian Su studies Computer Science at UC Berkeley.">
        <meta name="author" content="Brian Su">
        <meta name="keywords" content="Brian Su, Brian Y. Su, brianysu, UC Berkeley, CS, EECS, Computer Science, compsci, Brian, Su">

        <title>Brian Su</title>
        {% load bootstrap3 %}
        {% load staticfiles %}
        {% bootstrap_css %}
        <link href="{% static "website/css/styles.css" %}" rel="stylesheet" >
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47820301-2', 'brianysu.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
        <div class="container-fluid container-main">
            <h3>
                <div id="maintitle">
                    hi, i'm <a href="/me">brian</a>.
                </div>
            </h3>
            <div id="subtitle">
                <div id="typed">
                    I like to
                </div>
            </div>
        </div>
    </body>

    <script src="{% static "website/js/jquery-2.0.2.min.js" %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static "website/js/typed.js" %}"></script>
    <script>
        $(function(){
            $("#typed").typed({
                strings: ["travel.", "teach.", "code."],
                // strings: ["First sentence", "Second sentence"],
                typeSpeed: 10,
                callback: function() {
                    $("#typed").replaceWith('I like to <a href="/work">code</a>.');
                    },
                });
                    });
    </script>


</html>
